html{
    font-size: 10px
}

*{
    margin: 0;
    padding: 0;
}
.Headerprincipal a {
    display: flex;
}
.Headerprincipal{
    width: 100%;
    height: 10rem;
    background-color: rgb(27, 27, 112);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 100;
}

.Logo{
    width: 10rem;
    height: 10rem;
}
.Logo img{
    width: 10rem;
    height: 10rem;
}
.Headermeio{
    width: 110rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
.Headerfim{
    width: 35rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fotologin{
    height: 3rem;
    width: 3.5rem;
}
a{
    text-decoration: none;
}

.inicio{
    box-sizing: border-box;
    border-bottom: solid 0.2em rgb(236, 201, 42);
    color: rgb(236, 201, 42);
    display: flex;
    height: 4rem;
    width: 10rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 3em;

    /* fonte */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;

}
.historia{
    box-sizing: border-box;
    border-bottom: solid 0.2em rgb(236, 201, 42);
    color: rgb(236, 201, 42);
    font-size: 3em;
    display: flex;
    height: 4rem;
    width: 13rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    /* fonte */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cardapio{
    box-sizing: border-box;
    border-bottom: solid 0.2em rgb(236, 201, 42);
    color: rgb(236, 201, 42);
    font-size: 3em;
    display: flex;
    height: 4rem;
    width: 13rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    /* fonte */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nada{
    cursor: default;
    text-decoration: double;
    box-sizing: border-box;
    color: rgb(236, 201, 42);

    /* fonte */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nave{
    height: 5rem;
}

.Login{
    border-radius: 0.4rem;
    height: 2rem;
    align-items: center;
    padding: 0.9rem;
    color: white;
    width: 14rem;
    display: flex;
    font-size: 1.4em;
    font-weight: 600;
    
}
.Login p{
    font-size: 2.5rem;
    font-weight: 600;

    /* fonte */
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pedido{
    border-radius: 0.4rem;
    height: 1rem;
    align-items: center;
    padding: 0.9rem;
    color: white;
    width: 1rem;
    display: flex;
    justify-content: center;
}




























/* Details */
.detalhes{
    height: auto;
    width: 14rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    position: relative;
    box-sizing: border-box;
    border-bottom: solid 0.69rem rgb(236, 201, 42);
}

.detalhes[open]{
    width: 14rem;
}

.detalhes:hover{
    cursor: pointer;
}

.detalhes[open]:hover{
    cursor: pointer;
}

.nada:hover{
    cursor: pointer;
}

.nada[open]:hover{
    cursor: pointer;
}

.dento{
    border-style: solid;
    border-width: 2px;
    border-color: rgb(236, 201, 42);
    background-color: rgb(236, 201, 42);
    width: 28rem;
    height: 20rem;
    position: absolute;
    border-radius: 0.5rem;
    gap: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 10;

}
.nada{
   font-size: 2.8rem;
   user-select: none;
}



.dentodento{
    background-color: rgb(26, 26, 143);
    color: rgb(236, 201, 42);
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    width: 28rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    font-size: 10px;
}

.p{
    margin-left: 0.7rem;
    font-size: 2rem;
}
.dentobaixo{
    background-color: rgb(26, 26, 143);
    color: rgb(236, 201, 42);
    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    width: 28rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.dentomeio{
    background-color: rgb(26, 26, 143);
    color: rgb(236, 201, 42);
    width: 28rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}