@keyframes pedidoo {
    from {
        color: white;
        transform: scale(1);
    }
    to {
        color: rgb(255, 255, 173);
        transform: scale(1.05);
    }
}
@keyframes giro{
    from{ transform: rotate(0deg)}
    to{ transform: rotate(90deg)}
}

.Login:hover{
        animation-name: pedidoo;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
}
.imagemprincipal:hover{
    color: rgb(240, 248, 255);
}



.dentodento:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}
.dentomeio:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}
.dentobaixo:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}

.Login:hover img {
    animation: giro 0.6s forwards;
    transform-origin: center;
}