@keyframes pedidoo {
    from {color: white;  width: 12rem; height: 2rem;}
    to {color: rgb(255, 255, 173); width: 12.4rem; height: 2.3rem;}
}
@keyframes giro{
    from{ transform: rotate(0deg)}
    to{ transform: rotate(90deg)}
}
.pedido:hover{
        animation-name: pedidoo;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
    }

.Login:hover{
        animation-name: pedidoo;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        animation-duration: 0.4s;
}
.imagemprincipal:hover{
    color: rgb(240, 248, 255);
}



.dentodento:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}
.dentomeio:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}
.dentobaixo:hover{
 background-color: rgb(15, 15, 179);
    color: rgb(236, 201, 42);
}

.pedido:hover img{
    animation-name: giro;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.Login:hover img{
    animation-name: giro;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}