html{
    font-size: 10px;
    background-image: url(https://64.media.tumblr.com/27a9372faf571224ac2188fe55dec85d/147bfebdf112f180-63/s1280x1920/01b015e6199c48fddeaab42715612591c8770707.gifv);
    
}

*{
    margin: 0;
    padding: 0;
}


.menu {
    display: flex;
    flex-direction: column;
    gap: 3em;
    margin-top: 1em;
}

.menu a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-left: 2em;
    gap: 2em;
}

.menu a img {
    box-sizing: border-box;
    width: 10em;
    border-radius: 50%;
    padding: 1em;
}

.linha {
    display: flex;
    justify-content: space-evenly;
}

.bloco {
    display: flex;

    align-items: center;
    

    background-color: rgba(11, 11, 48, 0.685);;
    width: 30em;
    height: 12em;
    border: rgb(233, 229, 7) 1px solid;
    border-radius: 2rem;
    font-size: medium;
}

.bloco:hover {
    display: flex;
    width: 30em;
    height: 15em;
    align-items: center;
    font-size: large;
}

.text h3, p{
    display: flex;
    flex-direction: column;
    margin: 0;

    font-size: x-large;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text h3 {
    color: rgb(236, 201, 42);
    font-size: xx-large;
}

.menu h1 {
    display: flex;
    font-size: xx-large;

    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: white;
    background-color: rgb(184, 156, 33);
    border-radius: 5em;
    border: 2px solid white;

    padding: 0.5rem;
    padding-left: 0.6em;
    width: 5em;
    margin-left: 3em;

}

