html {
    font-size: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 2rem;
}

.menu h2 {
    font-size: 3rem;
    color: white;
}

.linha {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
}

.bloco {
    background-image: url(imagens/banner.png);
    width: 23rem;
    height: 12rem;
    border: rgb(233, 229, 7) 1px solid;
    border-radius: 2rem;
    font-size: medium;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
}

.bloco:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(233, 229, 7, 0.6);
}

.menu a {
    display: flex;
    color: white;
    text-decoration: none;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.menu a img {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
}

.text h3 {
    font-size: 1.8rem;
}

.text p {
    font-size: 1.2rem;
}