.fundoprincipal{
width: 100%;
height: 100rem;
background-color: red;
display: flex;
z-index: 1;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}

.imagemprincipal{
width: 100%;
height: 100rem;
z-index: 1;
-webkit-user-drag: none;
}



.logotexto{
    text-align: center;
    color: rgb(255, 255, 255);

    color: white;
    font-size: 8rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);

    z-index: 2;
    user-select: none;
}

span#Y {
    color: rgb(236, 201, 42);
}

.atras{
    width: 100%;
    z-index: 1;
    height: 100rem;
    position: absolute;
    background-image: url(https://64.media.tumblr.com/9056eaadcd5ebc44d1ee74c678bf50dc/147bfebdf112f180-d5/s1280x1920/a24e55ef05a532c3ef13f328db00f8b7d4d21edc.gifv);
}