.Valors{
    background-color: rgb(37, 37, 148);
    width: 100%;
    scroll-margin-top: 10rem;
    padding: 6rem 4rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    box-shadow: inset 0 -2rem 4rem -3rem rgba(255, 255, 255, 0.281);
}

.TituloValores{
    width: 90rem;
    text-align: center;
}

.TituloValores span{
    color: rgb(236, 201, 42);
    font-size: 3rem;
    font-family: "Jersey 10", sans-serif;
}

.TituloValores h2{
    color: white;
    font-size: 6rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.TituloValores p{
    color: white;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-family: "Jersey 10", sans-serif;
}

.ConteudoValores{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.CardValor{
    width: 30rem;
    background-color: rgba(255,255,255,0.12);
    border: solid 0.3rem rgb(236, 201, 42);
    border-radius: 2rem;
    box-shadow: 0 0 2rem rgba(0,0,0,0.4);
    overflow: hidden;
    transition: 0.3s;
}

.CardValor:hover{
    background-color: rgba(255,255,255,0.18);
    transform: translateY(-5px);
}

.CardValor img{
    width: 30rem;
    height: 25rem;
    object-fit: cover;
    border-top-left-radius: 1.7rem;
    border-top-right-radius: 1.7rem;
    border-bottom: solid 0.3rem rgb(236, 201, 42);
}

.TextoValor{
    padding: 2rem;
}

.TextoValor h3{
    color: rgb(236, 201, 42);
    font-size: 4rem;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px rgb(0, 0, 0);
}

.TextoValor p{
    color: white;
    font-size: 1.7rem;
    line-height: 2.7rem;
    text-align: left;
    font-family: "Jersey 10", sans-serif;
}

@media(max-width: 900px){
    .Valors{
        padding: 5rem 2rem;
    }

    .TituloValores{
        width: 100%;
    }

    .TituloValores h2{
        font-size: 4.5rem;
    }
}
